[Desktop Entry]
Name=Neo
Comment=Neo-Dark
X-KDE-PluginInfo-Name=org.neo.theme
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Author=Native
X-KDE-PluginInfo-License=GPL
Type=Service
